# Dependências
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Variáveis de ambiente
.env
.env.*
!.env.example

# Cobertura de testes
coverage/
.nyc_output/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Sistema operacional
.DS_Store
Thumbs.db

# Diversos
*.tsbuildinfo
.eslintcache
